<div class="sidebar__brand">
  <root-icon name="leaf" [size]="20"></root-icon>
  <span>ROOT</span>
</div>

<nav class="sidebar__nav">
  @for (item of items(); track item.route) {
    <a
      class="sidebar__link"
      [routerLink]="item.route"
      [class.sidebar__link--active]="item.route === activeRoute()"
      [class.sidebar__link--primary]="item.isPrimary"
    >
      <root-icon
        [name]="item.icon"
        [size]="20"
      ></root-icon>

      <span>{{ item.label }}</span>
    </a>
  }
</nav>
